.App {
  text-align: center;
  background-color: #DCDCDC;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #DCDCDC;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grid ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid ul li {
  list-style: none;
  flex: 0 0 33.3333333%;
}

.card{
  min-height:100%;
  

}
.banner{
  
  min-height: 200px;
  width:100%;
}
.bannerImage{
  min-width:100%;
}
.itemCard{
  background-color: white;
  min-height: 100%;
  align-content: center;
}
.list-item{
  position: relative;
  display:flex;
  background-color: white;
  border-style: solid;
  border-color: gray;
  padding: 20px;
  margin:20px;
  box-shadow:  -1px 1px grey,
  -2px 2px gray,
  -3px 3px gray,
  -4px 4px gray,
  -5px 5px gray;
}
.itemDetailButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
}
.image{
  max-width: 75%;
  max-height: 75%;
  margin-bottom:32px;
}